
<footer>
    <div class="footer">
        <div class="icon">
            <i class="fa-solid fa-hashtag"></i>
            <i class="fa-solid fa-hashtag"></i>
            <i class="fa-solid fa-hashtag"></i>
        </div>
    
        <div class="all-info"> &copy;Wander Lust Private Limited</div>
        <div class="info">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>